
.todo-list{
    height: 80%;
    overflow-y: auto;
    position: relative;
    margin-bottom: 10px;
    padding: 2px;
}

.todo-list::-webkit-scrollbar{
    display: none;
}

.todo-list-backgrond{
    object-fit: contain;
    width: 300px;
    opacity: 60%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-user-drag: none;
}

.todo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    color: #656565; 
    /* cursor: pointer; */
    user-select: none;
    position: relative;
}

.todo:hover{
    background-color: #f8f8f8;
    border-radius: 5px;
}

.todo p{
    max-width: 15rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.todo div img{
    -webkit-user-drag: none;
    cursor: pointer;
}

.btn-delete {
    display: none;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translate(-50%);
    z-index: 10;
}

.todo:hover .btn-delete{
    display: inline-flex;
}

.completed{
    opacity:0.3;
}